<%- include('./includes/head') %>

<div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-5">
        <h1 class="display-1 text-center text-light">POKEDEMO</h1>
        <p class="text-center lead text-light">A Page for pokemon lovers.</p>
    </div>
    
    <div class="col-lg-2"></div>
</div>

<%- include('./includes/footer') %>