<%- include('./includes/head') %>

  <section class="container">
    <h1> 
      <!--Show all the characters, use minus for html text-->
      <%# title %>
      <%# if (typeof title !== 'undefined') { %>
      <%# title %>
      <%# } else { %>
      <%= variable %>
      <%# } %>
    </h1>
  </section>

  <%- include('./includes/footer') %>